<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>ElderCare Support Portal</h5>
                <p>Connecting senior citizens with compassionate volunteers to build stronger communities.</p>
            </div>
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <p>
                    <i class="bi bi-envelope"></i> support@eldercare.com<br>
                    <i class="bi bi-phone"></i> 1-800-ELDER-CARE
                </p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2025 ElderCare Support Portal. All rights reserved.</p>
        </div>
    </div>
</footer>
